/* Responsividad mínima de 360vw */
:root {
  --primer-color: #383e56;
  --segundo-color: #9fb8ad;
  --tercer-color: #c5d7bd;
  --cuarto-color: #fb743e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Cascadia Code", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
}

.cabecera {
  align-items: center;
  background-color: var(--primer-color);
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  justify-content: center;
  max-width: 60rem;
  min-width: 36rem;
  text-align: center;
  width: 100%;
}

.cabecera h1 {
  color: white;
  max-width: 44rem;
  padding: 1rem;
  text-shadow: 0.5rem 0.5rem 0.5rem black;
  width: 100%;
}

.cabecera h1::first-letter {
  color: var(--cuarto-color);
  font-size: 3rem;
}

.cabecera p {
  color: white;
  font-size: 1.6rem;
  max-width: 44rem;
  padding: 1rem;
  text-shadow: 0.5rem 0.5rem 0.5rem black;
  width: 100%;
}

.cabecera p::first-letter {
  color: var(--cuarto-color);
  font-size: 2rem;
}

main {
  background-color: var(--tercer-color);
  display: flex;
  flex-wrap: wrap;
  height: 70%;
  justify-content: center;
  min-width: 36rem;
  max-width: 60rem;
}

.container-subtitle {
  align-items: center;
  background-color: var(--segundo-color);
  display: flex;
  height: 15%;
  justify-content: center;
  width: 100%;
}

.subtitle {
  color: white;
  font-size: 1.6rem;
  min-width: 36rem;
  padding: 1rem;
  text-align: center;
  text-shadow: 0.5rem 0.5rem 0.5rem black;
  text-transform: uppercase;
  width: 100%;
}

section {
  align-items: center;
  display: flex;
  height: 85%;
  justify-content: center;
  width: 100%;
}

form {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: center;
  max-width: 40rem;
  min-width: 36rem;
  width: 70%;
}

form > label {
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

form > input {
  border-color: var(--primer-color);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  height: 3rem;
  margin: 1rem;
  min-width: 34rem;
  outline: none;
  text-align: center;
}

form > button {
  background-color: var(--primer-color);
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-family: "Cascadia Code", sans-serif;
  height: 3rem;
  margin: 1rem;
  min-width: 34rem;
  width: 20rem;
}

button:hover {
  background-color: #4f5778;
}

.box-resultado {
  border: solid 0.1rem;
  border-radius: 0.2rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  height: 10rem;
  margin-bottom: 1rem;
  height: 6rem;
  min-width: 34rem;
}

footer {
  align-items: center;
  background-color: var(--cuarto-color);
  bottom: 0;
  display: flex;
  font-size: 1rem;
  height: 10%;
  justify-content: center;
  max-width: 60rem;
  min-width: 36rem;
  position: absolute;
  width: 100%;
}

ul {
  align-items: center;
  display: flex;
  height: 100%;
  list-style: none;
}

.info {
  align-items: center;
  background-color: var(--primer-color);
  border: solid 0.2rem var(--segundo-color);
  border-radius: 0.5rem;
  color: white;
  display: flex;
  height: 5rem;
  margin-left: 1rem;
  padding: 1rem;
}
div {
  height: 100%;
}

.li-img__imgLogo {
  align-items: center;
  border-radius: 50%;
  border: solid 0.2rem var(--segundo-color);
  display: flex;
  height: 5rem;
  padding: 0;
}
