/* Nota: este es un diseño no responsivo.  -------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fb3640;
}

header {
  width: 100%;
  background-color: rgb(84, 46, 113);
  opacity: 0.9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

h1:hover {
  color: red;
}

.p-presentacion {
  color: #fdca40;
  font-size: 2rem;
  text-align: center;
}

.p-presentacion:hover {
  color: red;
}

.main-content {
  margin: 2rem auto 0;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  height: 100%;
}

h2 {
  color: white;
  font-size: 1.6rem;
}

section {
  display: flex;
  border-radius: 2rem;
  border: solid 0.2rem #fdca40;
  background-color: rgb(167, 153, 183);
  width: 34rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

section > p {
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  padding: 0 0.5rem;
  text-align: center;
  width: 20rem;
  border-radius: 1rem;
  display: inline-flex;
  background-color: #fdca40;
  color: black;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

section > h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  color: black;
  background-color: white;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form > label {
  padding: 0 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: gray;
  text-align: center;
  display: flex;
  font-family: Roboto;
  font-size: 1.6rem;
  color: black;
}

form > label:hover {
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: white;
}

button {
  border: none;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  height: 2rem;
  margin-bottom: 1rem;
  background-color: blue;
  text-transform: uppercase;
  width: 70%;
}

button:hover {
  width: 75%;
  color: white;
}

input {
  display: flex;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  height: 3rem;
  width: 40%;
  margin-bottom: 1rem;
}
input:hover {
  width: 50%;
}
